*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#25D366,#128C7E);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.chat-container{
    width:100%;
    max-width:500px;
    height:90vh;
    background:#ece5dd;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

.header{
    background:#075E54;
    color:white;
    padding:15px;
    text-align:center;
    font-weight:600;
}

.messages{
    flex:1;
    padding:15px;
    overflow-y:auto;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.message{
    max-width:75%;
    padding:10px 15px;
    border-radius:15px;
    font-size:14px;
}

.sent{
    align-self:flex-end;
    background:#DCF8C6;
}

.received{
    align-self:flex-start;
    background:white;
}

.timestamp{
    font-size:10px;
    opacity:0.6;
    margin-top:4px;
    text-align:right;
}

.input-area{
    display:flex;
    padding:10px;
    background:white;
    gap:5px;
}

input{
    padding:10px;
    border-radius:20px;
    border:1px solid #ccc;
    outline:none;
}

#username{
    width:110px;
}

#messageInput{
    flex:1;
}

button{
    padding:10px 15px;
    border:none;
    border-radius:20px;
    background:#25D366;
    color:white;
    cursor:pointer;
}
